
// color of kanamic logo
$kn-orange = #f46600
$kn-yellow = #fb9a00

// theme color of tritrus
$main-orange = #fc8f2f // radio/checkbox small
$main-orange2 = #f16b05 // radio/checkbox large
$main-yelow = #ffce0c // breadcrumb(current)
$main-yelow2 = #ffbe00 // left-border of h3/h5 title
$main-grey = #efefef // h3 bg
$main-grey2 = #eee // breadcrumb

// background
$bg-grey = #f7f7f7  // bg of title etc

// breadcrumb
$breadcrumb-hover = #abe0ef

// button
$btn-save = #fc8f2f
$btn-cancel = #f5f5f5
$btn-return = #f5f5f5
$btn-delete = #d65252
$btn-edit = #53ada2
$btn-add = #549f52
$btn-search = #2172c4

// text
$txt = #333
$btn-txt-white = #fff
$btn-txt-black = #666

// border
$border = #ccc

// link
$link = #0645ad
$link-hover = #ea911e

// table
$th-orange = #ffe0b7
$th-yellow = #ffefd6
$th-blue = #e9f2f4
$th-blue2 = #e6f9fc
$th-grey = #f7f7f7
